In [1]:
import numpy as np
import pandas as pd

In [2]:
data_path = '05d2b4ea-c-Dataset/'

In [3]:
train_agg = pd.read_csv('05d2b4ea-c-Dataset/train_data/AggregateData_Train.csv')
train_agg.head(5)

,UID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V45,V46,V47,V48,V49,V50,V51,V52,V53,bad_flag
0,Tr-1,61P4S1M3GET,10397.75,?,?,?,?,?,?,197186.68,...,?,5.04055,?,?,?,6,9,3,10,0
1,Tr-2,6NYVS1J3U7M,?,606.74,?,?,?,?,?,?,...,?,?,?,?,?,1,?,?,?,0
2,Tr-3,BLFB1KMS48,87452.89,963.52,?,?,13838,?,?,1081.25,...,?,?,?,?,?,10,10,20,1,0
3,Tr-4,MYGB1LCW8P,?,393.26,100000,?,?,?,?,?,...,?,?,?,?,?,4,1,?,2,0
4,Tr-5,6UG5S1PQGE5,1100,497.2,?,?,?,?,0.9,18640,...,?,0.00470,?,?,0.00007,2,3,1,2,0

In [4]:
test_agg = pd.read_csv('05d2b4ea-c-Dataset/test_data/AggregateData_Test.csv')
test_agg.head(5)

,UID,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V44,V45,V46,V47,V48,V49,V50,V51,V52,V53
0,Te-1,61P4S1M3GET,10397.75,?,?,?,?,?,?,197186.68,...,?,?,5.04055,?,?,?,6,9,3,10
1,Te-2,6NYVS1J3U7M,?,606.74,?,?,?,?,?,?,...,?,?,?,?,?,?,1,?,?,?
2,Te-3,BLFB1KMS48,87452.89,963.52,?,?,13838,?,?,1081.25,...,1.28678,?,?,?,?,?,10,10,20,1
3,Te-4,MYGB1LCW8P,?,393.26,100000,?,?,?,?,?,...,?,?,?,?,?,?,4,1,?,2
4,Te-5,6UG5S1PQGE5,1100,497.2,?,?,?,?,0.9,18640,...,?,?,0.00470,?,?,0.00007,2,3,1,2

### Initial Exploration

In [5]:
print("Number of training examples: ", train_agg.shape)
print("Number of bad examples: ", train_agg[train_agg.bad_flag == 1].shape[0])
print("Percentage of bad examples: ", np.sum([train_agg.bad_flag == 1])/train_agg.shape[0]*100)

Number of training examples:  (26775, 54)
Number of bad examples:  2542
Percentage of bad examples:  9.493930905695612

### Data Preparation (k-fold Cross Validation)

In [6]:
X = train_agg.iloc[:, 2:-1].values
y = train_agg.iloc[:, -1]

X_test = test_agg.iloc[:, 2:].values

from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=5)
i = 0
for train_idx, test_idx in skf.split(X, y):
    X_fold = X[train_idx]
    y_fold = y[train_idx]
    X_hold_out = X[test_idx]
    y_hold_out = y[test_idx]
    print(X_fold.shape, y_fold.shape, X_hold_out.shape, y_hold_out.shape, np.sum(y_hold_out))
    np.save("05d2b4ea-c-Dataset/train_split/X_fold_%d.npy"%i, X_fold)
    np.save("05d2b4ea-c-Dataset/train_split/y_fold_%d.npy"%i, y_fold)
    np.save("05d2b4ea-c-Dataset/train_split/X_hold_out_%d.npy"%i, X_hold_out)
    np.save("05d2b4ea-c-Dataset/train_split/y_hold_out_%d.npy"%i, y_hold_out)
    np.save("05d2b4ea-c-Dataset/train_split/fold_idx_%d.npy"%i, train_idx)
    np.save("05d2b4ea-c-Dataset/train_split/hold_out_idx_%d.npy"%i, test_idx)
    i += 1
    
np.save("05d2b4ea-c-Dataset/train_split/X_train.npy", X)
np.save("05d2b4ea-c-Dataset/train_split/y_train.npy", y)
np.save("05d2b4ea-c-Dataset/train_split/X_test.npy", X_test)

(21419, 51) (21419,) (5356, 51) (5356,) 509
(21419, 51) (21419,) (5356, 51) (5356,) 509
(21420, 51) (21420,) (5355, 51) (5355,) 508
(21421, 51) (21421,) (5354, 51) (5354,) 508
(21421, 51) (21421,) (5354, 51) (5354,) 508